[Unit]
Description=Autorandr execution hook
StartLimitInterval=5
StartLimitBurst=1

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/autorandr --change --default default
Type=oneshot
RemainAfterExit=false
KillMode=process

[Install]
WantedBy=default.target
