[Unit]
Description=Autorandr execution hook
PartOf=graphical-session.target


[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/autorandr --change --default default
Type=oneshot

[Install]
WantedBy=graphical-session.target
