[Unit]
Description=Compton
After=displays.service
StartLimitInterval=5
StartLimitBurst=1

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/compton --config /home/gytis/.config/compton.conf
KillMode=process

[Install]
WantedBy=default.target
