[Unit]
Description=Feh
PartOf=graphical-session.target

[Service]
ExecStart=/bin/bash -c '/usr/bin/feh --randomize --bg-fill $HOME/Pictures/wallpaper/*'
Type=oneshot

