[Unit]
Description=Feh
StartLimitInterval=5
StartLimitBurst=1

[Service]
Environment=DISPLAY=:0
ExecStart=/bin/bash -c '/usr/bin/feh --randomize --bg-fill $HOME/Pictures/wallpaper/*'
Type=oneshot
RemainAfterExit=false
KillMode=process

[Install]
WantedBy=default.target
