[Unit]
Description=NetworkMonitor applet
PartOf=graphical-session.target

[Service]
ExecStart=/bin/nm-applet
Type=process

[Install]
WantedBy=graphical-session.target
