[Unit]
Description=Polkit dialog
PartOf=graphical-session.target

[Service]
ExecStart=/usr/lib/policykit-1-pantheon/io.elementary.pantheon-agent-polkit
KillMode=process

[Install]
WantedBy=graphical-session.target
